body {
    background: linear-gradient(135deg, #d7a86e, #f7e7ce);
    font-family: "Poppins", sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.coffee-machine {
    background: #4e342e;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 320px;
}
h1 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #ffcc80;
}
h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: white;
}
input {
    display: block;
    margin: 0.5rem auto;
    padding: 0.5rem;
    width: 80%;
    border: none;
    border-radius: 8px;
    background: #6d4c41;
    color: #fff;
    font-size: 1rem;
}

input::placeholder {
    color: #d7ccc8;
}

button {
    display: block;
    margin: 0.5rem auto;
    padding: 0.5rem;
    width: 80%;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    background: #ffcc80;
    color: #3e2723;
    cursor: pointer;
    transition: background 0.3s;
}
.login, a {

    color: #000000;
}
