body {
    background: linear-gradient(135deg, #d7a86e, #f7e7ce);
    font-family: "Poppins", sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
    height: 100vh;
    margin: 0;
}

.coffee-machine {
    background: #4e342e;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 350px;
}

h1 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #ffcc80;
}

.info {
    background: #3e2723;
    border-radius: 10px;
    padding: 0.8rem;
    margin-bottom: 1rem;
}

input {
    display: block;
    margin: 0.5rem auto;
    padding: 0.5rem;
    width: 80%;
    border: none;
    border-radius: 8px;
    background: #6d4c41;
    color: #fff;
    font-size: 1rem;
}

input::placeholder {
    color: #d7ccc8;
}

button {
    display: block;
    margin: 0.5rem auto;
    padding: 0.5rem;
    width: 80%;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    background: #ffcc80;
    color: #3e2723;
    cursor: pointer;
    transition: background 0.3s;
}

.logout {
    background: #d32f2f;
    color: #fff;
}
a{
    color: #fff;
}

#main-logout-btn{
    color: #fff;
}

.specs {
    margin-top: 10px;
    text-align: center;
    background: rgba(255, 204, 128, 0.08);
    padding: 6px 8px;
    border-radius: 8px;
    margin-bottom: 6px;
    color: #fff;
    font-size: 0.95rem;
}

.levels {
    margin-top: 10px;
    text-align: center;
}

.level-item {
    display: flex;
    align-items: center;
    gap: 25px;
    margin: 25px 0;
}

.level-item label {
    width: 120px;
    font-size: 0.95rem;
}

.progress-container.small {
    width: 100px;
    height: 12px;
    background-color: #3e2723;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.4);
}

.progress-bar{
    height: 100%;
    width: 0%;
    background-color: #ffcc80;
    border-radius: 8px;
}

.level-percent {
    width: 40px;
    text-align: right;
    font-weight: bold;
    color: #ffcc80;
}

.faults {
    margin-top: 10px;
    text-align: center;
    background: rgba(255, 204, 128, 0.08);
    padding: 6px 8px;
    border-radius: 8px;
    margin-bottom: 6px;
    color: #fff;
    font-size: 0.95rem;
}

.faults ul {
    list-style: none;
    padding-left: 0;
}

.faults li {
    background: rgba(255, 204, 128, 0.08);
    padding: 6px 8px;
    border-radius: 8px;
    margin-bottom: 6px;
    color: #fff;
    font-size: 0.95rem;
}
.hidden {
    display: none;
}

.disconnect-machine {
    background-color: #ff9800; /* Arancione */
    color: white;
    margin-bottom: 15px;
}
.disconnect-machine:hover {
    background-color: #e68900;
}